.App {
  height: auto;
  margin: 3% 20%;
  background-color: #fff;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.content {
  width: 80px;
  height: 5px;
  background-color: blue;
  margin-bottom: 15px;
  margin-top: -10px;
}

